@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
body {
	font-family: "Poppins", serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

/* Labels */

.el-form-item__label {
	justify-content: flex-start !important;
}

/* Buttons */
.action-btns {
	display: flex;
	justify-content: end;
	margin-bottom: 20px;
}

/* Image */

.profile-img {
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
	max-width: 100%;
}

/* Lists */

.skills-list-form li {
	padding: 0;
	display: flex;
	justify-content: space-between;
}

/* Timeline */

.el-timeline {
	padding: 0 !important;
}

/* CV PREVIEW */

.el-dialog {
	width: 230mm !important;
}